# Force all traffic to HTTPS + www.ctistech.com (no reverse rules, no loops)
[[redirects]]
  from = "http://ctistech.com/*"
  to = "https://www.ctistech.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://ctistech.com/*"
  to = "https://www.ctistech.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "http://www.ctistech.com/*"
  to = "https://www.ctistech.com/:splat"
  status = 301
  force = true